@model List<TMS.Services.Models.TaskVM>

@{
    var currentView = "table";
}

@if (User.IsInRole("Employer"))
{
    <p>
        <a asp-controller="Task" asp-action="Create" class="btn btn-sm btn-outline-secondary">Създаване на задача</a>
    </p>
}

@if (TempData["Info"] != null)
{
    <div class="col-md-12 alert alert-info">
        <span><b>Извинете!</b> - @TempData["Info"]</span>
    </div>
}

@if (TempData["Error"] != null)
{
    <div class="col-md-12 alert alert-danger">
        <span><b>Извинете!</b> - @TempData["Error"]</span>
    </div>
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        var currentView = "@currentView";

        function toggleViews() {
            if (currentView === "table") {
                $('#tableView').hide();
                $('#cardView').show();
                $('#toggleViewBtn').attr('src', 'img/cardbutton.png');
                $('#toggleViewBtn').attr('height', '45');
                $('#toggleViewBtn').attr('width', '45');
                currentView = "card";
            } else {
                $('#tableView').show();
                $('#cardView').hide();
                $('#toggleViewBtn').attr('src', 'img/tableview.png');
                $('#toggleViewBtn').attr('height', '55');
                $('#toggleViewBtn').attr('width', '55');
                currentView = "table";
            }
        }
        $('#toggleViewBtn').click(function () {
            toggleViews();
        });
        function performSearch() {
            var searchText = $('#searchValue').val().toLowerCase();
            if (currentView === "table") {
                $('#tableView tbody tr').each(function () {
                    var rowText = $(this).text().toLowerCase();
                    if (rowText.includes(searchText)) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            } else {
                $('#cardView .card').each(function () {
                    var cardText = $(this).text().toLowerCase();
                    if (cardText.includes(searchText)) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            }
        }

        $('#searchValue').keyup(function () {
            performSearch();
        });

        if (currentView === "table") {
            $('#tableView').show();
            $('#cardView').hide();
        } else {
            $('#tableView').hide();
            $('#cardView').show();
        }
    });
</script>

<div class="row">
    <div class="col-md-11">
        @using (Html.BeginForm("Index", "Task", FormMethod.Get))
        {
            <table>
                <tr>
                    <td>
                        <span><b>Търси по:</b></span>
                        @Html.RadioButton("searchBy", "TaskName", true)
                        <text>Име</text>
                        @Html.RadioButton("searchBy", "Category", false)
                        <text>Категория</text>
                        @Html.RadioButton("searchBy", "Priority", false)
                        <text>Приоритет</text>
                        @Html.RadioButton("searchBy", "Status", false)
                        <text>Статус</text>
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.TextBox("searchValue", null, new { Class = "form-control", placeholder = "Въведете критерии за търсене" })
                    </td>
                </tr>
            </table>
        }
    </div>
    <div class="col-md-1">
        <img id="toggleViewBtn" type="image" src="img/tableview.png" height="55" width="55" style="cursor: pointer" />
    </div>
</div>

<table id="tableView" class="table table-secondary table-stripped table-responsive table-hover mt-3">
    <thead class="thead-dark">
        <tr>
            <th>Име</th>
            <th>Категория</th>
            <th>Приоритет</th>
            <th>Статус</th>
            <th class="d-flex justify-content-center">Операции</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td> @item.Name </td>
                <td> @item.Category</td>
                <td> @item.Priority</td>
                <td> @item.Status</td>
                <td>
                    @if (User.IsInRole("ExEmployee"))
                    {
                        <div class="d-flex justify-content-around">
                            <a asp-controller="Task" asp-action="Details" asp-route-id="@item.TaskId" class="btn btn-sm btn-info m-1">Детайли</a>
                        </div>
                    }
                    else
                    {
                        <div class="d-flex justify-content-center">
                            <a asp-controller="Task" asp-action="Edit" asp-route-id="@item.TaskId" class="btn btn-sm btn-success m-1">Обновяване</a>
                            <a asp-controller="Task" asp-action="Delete" asp-route-id="@item.TaskId" class="btn btn-sm btn-danger m-1">Изтриване</a>
                            <a asp-controller="Task" asp-action="Details" asp-route-id="@item.TaskId" class="btn btn-sm btn-info m-1">Детайли</a>
                            @if (item.Status == TMS.Data.Enums.TaskStatus.InProgress)
                            {
                                <a asp-controller="Task" asp-action="AssignTaskToUser" asp-route-id="@item.TaskId" class="btn btn-sm btn-warning m-1">Възлагане на потребител</a>
                                <a asp-controller="Task" asp-action="AssignTaskToGroup" asp-route-id="@item.TaskId" class="btn btn-sm btn-primary m-1">Възлагане на група</a>
                            }
                        </div>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="cardView" class="album py-5 bg-light" style="display: none; border-radius: 20px">
    <div class="container">

        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-6 mb-4">
                    <div class="card mb-4 box-shadow">
                        <div class="card-body">
                            <h5 class="card-title">@item.Name</h5>
                            <p class="card-text">
                                <strong>Категория:</strong> @item.Category <br>
                                <strong>Приоритет:</strong> @item.Priority <br>
                                <strong>Статус:</strong> @item.Status <br>
                            </p>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col">
                                    <strong>Операции:</strong>
                                </div>
                            </div>
                            @if (User.IsInRole("ExEmployee"))
                            {
                                <div class="row">
                                    <div class="col">
                                        <div class="btn-group btn-group-sm">
                                            <a asp-controller="Task" asp-action="Details" asp-route-id="@item.TaskId" class="btn btn-info m-1">Детайли</a>
                                        </div>
                                    </div>
                                </div>
                            } else {
                            <div class="row">
                                <div class="col">
                                    <div class="btn-group btn-group-sm">
                                        <a asp-controller="Task" asp-action="Edit" asp-route-id="@item.TaskId" class="btn btn-success m-1">Обновяване</a>
                                        <a asp-controller="Task" asp-action="Delete" asp-route-id="@item.TaskId" class="btn btn-danger m-1">Изтриване</a>
                                        <a asp-controller="Task" asp-action="Details" asp-route-id="@item.TaskId" class="btn btn-info m-1">Детайли</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="btn-group btn-group-sm">
                                        <a asp-controller="Task" asp-action="AssignTaskToUser" asp-route-id="@item.TaskId" class="btn btn-warning m-1">Възлагане на потребител</a>
                                        <a asp-controller="Task" asp-action="AssignTaskToGroup" asp-route-id="@item.TaskId" class="btn btn-primary m-1">Възлагане на група</a>
                                    </div>
                                </div>
                            </div>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


