@model TMS.Services.Models.UserVM

<div class="col-md-8">
    <div class="card mb-4 box-shadow">
        <div class="card-body">
            <table class="table">
                <tr>
                    <th>Профилна снимка</th>
                    <td><img src="@Url.Action("GetImage", "User", new { imageId = Model.ImageId}) "width="70" height="70"/></td>
                <tr>
                    <th>Първо име</th>
                    <td>@Model.FirstName</td>
                </tr>
                <tr>
                    <th>Фамилно име</th>
                    <td>@Model.LastName</td>
                </tr>
                <tr>
                    <th>Потребителско име</th>
                    <td>@Model.Username</td>
                </tr>
                <tr>
                    <th>Имейл</th>
                    <td>@Model.Email</td>
                </tr>
                <tr>
                    <th>Роля</th>
                    <td>@Model.Role</td>
                </tr>
                <tr>
                    <th>Възложени задачи</th>
                    <td>
                        <ul>
                                @foreach (var task in Model.Tasks)
                                {
                                <li>@task.Name</li>
                                }
                        </ul>
                    </td>
                </tr>
            </table>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group mt-3">
                    <a asp-controller="Home" asp-action="Index" class="btn btn-sm btn-outline-secondary">Главна страница</a>
                </div>
            </div>
        </div>
    </div>
</div>
